<link rel="stylesheet" href="/css/_customer-support.css">

<div class="col-12 col-sm-9 profile-cards">
    <h4 class="card-title">Customer Support</h4>
    <!-- MAKE A CHAT SECTION -->
   
        <li><i class="fas fa-phone-alt"></i> CALL US AT : &nbsp; 123456789</li>

        <li>
            <i class="far fa-envelope"></i> MAIL US AT : &nbsp;
            <a href="mailto:support@shopkart.com"> support@shopkart.com</a>
        </li>

        <li>
            <div class="form-group form-inline mb-2">
                RECEIVE A CALL FROM US: &emsp;
                <input type="tel" class="form-control" name="mobile" value="<%= profile_user.mobile %>" required>
                <button type="submit" class="btn btn-outline-primary mb-2"><i class="fas fa-phone-alt"></i> Call Me Now</button>
            </div>
        </li>

        <!-- MAKE A CHAT SECTION -->
        <li>CHAT WITH US : &nbsp;
            <button type="submit" class="btn btn-outline-primary"> <i class="far fa-comment-dots"></i> &nbsp;Start a Chat</button>
        </li>
    
</div>