<link rel="stylesheet" href="/css/footer.css">

<footer>
    <ul>Contact Support
        <li><i class="fas fa-phone-alt"></i>&nbsp; 123456789</li>
        <li><i class="far fa-envelope"></i><a href="mailto:support@shopkart.com">&nbsp; support@shopkart.com</a></li>
    </ul>
    <ul>Social
        <li>
            <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            </button>
            <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                <a href="https://twitter.com/explore"><i class="fab fa-twitter"></i></a>
            </button>
            <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </button>
            <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
            </button>
        </li>
    </ul>
    <!-- <img class="footer-image" src="/images/fast-delivery.png" alt="Fast Delivery">
    <div class="delivery">
        <li id="li-1">
            <p><i>ANYWHERE</i></p>
            <i class="fas fa-map-marker-alt fa-5x"></i>
        </li>
        <li id="li-2">
            <p><i style="margin-left: 28%;">FAST</i></p>
            <img class="fast-icon" src="/images/fast.png" alt="fast-icon">
        </li>
        <li id="li-3">
            <p><i>SAFE</i></p>
            <i class="fas fa-shield-alt fa-5x"></i>
        </li>
        <li id="li-4">
            <p><i>ANYTIME</i></p>
            <i class="far fa-calendar-alt fa-5x"></i>
        </li>
    </div> -->
</footer>

<div class="last-section">
    <div class="line"></div>
    <div class="copyright">&copy; <script>document.write(new Date().getFullYear());</script> shopKart.com </div>
</div>
