<link rel="stylesheet" href="/css/_reset-password.css">

<h4 class="card-title">Reset Password</h4>
<!-- SEND MAIL FOR RESET PASSWORD -->
<form action="/users/reset-link" method="get" class="reset-password">
    <div class="form-group">
        <label>Enter Current Password<span class="required">*</span></label>
        <input type="password" name="password" class="form-control col-12 col-sm-6" required>
        <small class="form-text text-muted">A reset password link will be sent to
            <%= profile_user.email %></small>
    </div>
    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-link"></i> Send Link</button>
</form>