<!-- <div class="alert alert-success" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div> -->


<div class="container">
    <div class="row mb-5">
        <h1 style="color: green;">Order Placed Successfully</h1> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <img src="/images/gifts.jpg" alt="" style="width: 400px; height: 300px; animation: shakeY 6s infinite;">
    </div>
</div>
