<link rel="stylesheet" href="/css/user_cart.css">

<div class="row">
    <a href="/users/checkout-session" role="button" id="checkout-button" class="btn btn-outline-dark col-12 col-sm-2 offset-sm-9 mb-3">Checkout</a>
</div>

<br>

<div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 mb-5">
        <div class="card">
            <div class="btn card-body">

            </div>
        </div>
        <div class="card">
            <div class="btn card-body">

            </div>
        </div>
        <div class="card">
            <div class="btn card-body">

            </div>
        </div>
        <div class="card">
            <div class="btn card-body">

            </div>
        </div>
        <div class="card mb-5">
            <div class="btn card-body">

            </div>
        </div>
    </div>
</div>