.address-info {

    .address-options {

        form {
            display: inline;
        }

        a {
            left: 1%;
        }

        button:hover {
            background-color: #3f9688;
            color: white;
        }   
    }

    li {
        list-style: none;
        color: black;
    }
}
