$background-color: rgb(240, 239, 239);

.carousel {

    font-family: Titillium Web;

    .card-header {
        background-color: $background-color;
        font-size: larger;
        color: #3f9688;
    }
    .carousel-inner {
        
        .carousel-item {

            .card-group {

                .card {

                    background-color: $background-color;
                    img {
                        margin-left: 25%;
                    }

                    .card-body {

                        .card-link {
                            font-size: medium;
                        }
                        .card-title {
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}