$background-color: #516395;
$font-family: Titillium Web;
$background-color-1: rgb(232, 232, 241);
$background-color-2: rgb(229, 237, 241);


@keyframes graphBars {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}

body {
    font-family: $font-family;
}

.nav {
    padding: 15px;
    background-color: $background-color;


    .nav-item {
        left: 6%;
        
        a {
            color: white;
        }

        a:hover, .active {
            color: rgb(233, 221, 197);
            border-bottom: solid 1px rgb(233, 221, 197);
            cursor: pointer;
        }

    }


    .logout {
        left: 18%;
    }

    .user-name {
        left: 17%;
    }
}


.container {
    color: rgb(136, 58, 30);

    h4 {
        text-align: center;
    }    

    .row {

        .card {
            border-radius: 20px;
            height: 500px;

            .left-background{
                background-color: rgb(209, 130, 130); 
                height: 500px; 
                border-radius: 20px 0px 0px 20px;
            }
        }
        #Personal-Information {
            background-color: $background-color-1;
        }
        #Current-Orders {
            background-color: $background-color-2;

            .outer-circle {
                background-color: black;
                border-radius: 50%;
                height: 200px;
                width: 200px;

                .progress-layer {
                    background-color: grey;
                    border-radius: 50%;
                }
            }

        }   
        #Sell-Product {
            background-color: $background-color-1;
        }
        #Selling-History {
            background-color: $background-color-2;

            .vertical-line {
                border: solid 1px black;
                margin-top: 0px;
            }
            .vertical-bar {
                width: 40px;
                background-color: red;
                height: 200px;
                margin-top: 200px;
                animation: graphBars 1s ease;
            }
        }   
    }
}