$border: solid 1px #516395;
$background-color: rgb(250, 249, 246);
$color1: darkblue;
$font-family: Titillium Web;


.jumbotron {
    background-image: url('/images/sell-online.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    font-family: $font-family;
    background-color: rgb(214, 232, 243);
}


body {
    background-color: white;
    color: $color1;
    font-family: $font-family;
}

.box {
    border: $border;

    .header {
        border: $border;
        height: 65px;

        a:hover {
            cursor: pointer;   
        }
    }

    .body {
        background-color: $background-color;
        min-height: 300px;
        height: auto;

        form {
            input {
                color: black;
            }

            .btn {
                left: 40%;
                outline: $border;
                color: $color1;
            }

            .btn:hover {
                background-color: $color1;
                color: white;
            }   
        }

    }
    
    .footer-login {
        background-color: $background-color;

        a {
            color: $color1;
        }
        a:hover {
            color: blue;
        }
    }

}