<html>
    <head>
        <style>
            .table p{
                font-size: medium;
            }
        </style>
    </head>

    <body>
        <table class="table">
            <h3>Hey, <%= userDetails.firstName %></h3>
            <p>You have just deleted your shopKart account. Tell us where did we go wrong on <a href="mailto:support@shopkart.com">support@shopkart.com</a></p>
            <h3>Team shopKart</h3>
        </table>
    </body>
</html>