<html>
    <head>
        <style>
            .table p{
                font-size: medium;
            }
        </style>
    </head>

    <body>
        <table class="table">
            <h3>Hey, <%= resetToken.user.firstName %></h3>
            <p>To create new password <a href="http://localhost:8000/users/password/create-page/<%= resetToken._id %>" target="_blank">click here</a> </p>
            <h3>Team shopKart</h3>
        </table>
    </body>
</html>