<html>
    <head>
        <style>
            .card p{
                font-size: medium;
            }
        </style>
    </head>
    
    <body>
        <div class="card">
            <h3>Hey <%= user.firstName %></h3>
            <p>You have just updated your profile on shopKart.</p>
            <h3>Happy Shopping!</h3>
            <h3>Team shopKart</h3>
        </div>
    </body>
</html>