h3 {
  color: darkblue; }

.container .card {
  outline: 1px solid darkblue;
  background-color: rgba(238, 235, 235, 0.089); }
  .container .card form input {
    color: black; }
  .container .card form .btn:hover {
    background-color: darkblue;
    color: white; }
