@keyframes movingCar {
  from {
    transform: translate(0px); }
  to {
    transform: translate(900px); } }

@keyframes loadingIcon {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

footer {
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  color: floralwhite; }
  footer .footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 15px;
    font-family: Titillium Web; }
    footer .footer ul {
      margin: 30px;
      font-size: large; }
      footer .footer ul li {
        list-style: none;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: medium; }
        footer .footer ul li a {
          color: floralwhite; }
        footer .footer ul li .btn {
          background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
          border: solid #2a5f5f 2px;
          font-size: medium; }
          footer .footer ul li .btn i {
            color: floralwhite; }
    footer .footer .footer-image {
      z-index: 2;
      width: 270px;
      height: 200px;
      margin-top: 0.8%;
      animation: movingCar 4s 1 linear; }
  footer .float-right .btn:hover {
    background-color: white;
    outline: black solid 2px;
    color: black; }

.last-section {
  height: 10vh;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  font-family: Titillium Web; }
  .last-section .line {
    border: solid 1px; }
  .last-section .copyright {
    text-align: center;
    margin-top: 1.5%;
    color: floralwhite; }
