body {
  font-family: 'Titillium Web'; }

.carousel .carousel-item .carousel-caption {
  top: 32%;
  color: darkmagenta;
  font-family: 'Titillium Web', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
