body {
  font-family: 'Titillium Web';
  background-color: #fff; }

.container .row #product-name {
  padding: 8px;
  height: 50px !important;
  border-right: 2px solid darkblue;
  border-radius: 4px;
  background-color: whitesmoke; }

.container .row #customer-review {
  padding-left: 8px;
  color: goldenrod;
  font-size: small; }
  .container .row #customer-review p {
    color: black;
    display: inline; }

.container .row #product-price {
  padding-left: 8px;
  list-style: none; }
  .container .row #product-price span {
    font-size: larger;
    color: #b32a2a; }

.container .row #offers {
  padding-left: 8px; }
  .container .row #offers h5 {
    color: #df4f2b; }
  .container .row #offers li {
    list-style: square; }
    .container .row #offers li a {
      color: #3f4f7a;
      cursor: pointer; }

.container .row #variants {
  padding-left: 8px; }
  .container .row #variants i {
    border: 1px solid;
    cursor: pointer;
    opacity: 0.4; }
  .container .row #variants #grey {
    color: gray;
    opacity: 1; }
  .container .row #variants #green {
    color: #65d6a7; }
  .container .row #variants #gold {
    color: #e9cf7a; }
  .container .row #variants #rose {
    color: #e7bbc2; }

.container .row #product-description {
  padding-left: 8px; }

.container .row #reviews {
  padding-left: 8px;
  padding-bottom: 100px; }
  .container .row #reviews i {
    color: lightgray; }
  .container .row #reviews .rating {
    cursor: pointer;
    font-size: small; }

.container form textarea {
  height: 100px;
  width: 100%;
  border-radius: 5px; }
