.jumbotron {
  background-image: url("/images/sell-online.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  font-family: Titillium Web;
  background-color: #d6e8f3; }

body {
  background-color: white;
  color: darkblue;
  font-family: Titillium Web; }

.box {
  border: solid 1px #516395; }
  .box .header {
    border: solid 1px #516395;
    height: 65px; }
    .box .header a:hover {
      cursor: pointer; }
  .box .body {
    background-color: #faf9f6;
    min-height: 300px;
    height: auto; }
    .box .body form input {
      color: black; }
    .box .body form .btn {
      left: 40%;
      outline: solid 1px #516395;
      color: darkblue; }
    .box .body form .btn:hover {
      background-color: darkblue;
      color: white; }
  .box .footer-login {
    background-color: #faf9f6; }
    .box .footer-login a {
      color: darkblue; }
    .box .footer-login a:hover {
      color: blue; }
