h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  .container .card-body {
    font-size: 18.3px; }
  .container input, .container label {
    font-size: 18.3px; }
  .container .btn {
    font-size: 19px;
    text-align: left;
    text-transform: capitalize; }
  .container .profile-cards #customer-support ul {
    color: gray; }
    .container .profile-cards #customer-support ul li {
      list-style: none; }
